* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4d4f7c;
  --secondary-color: #f0f0f0;
  --hover-opacity: 0.8;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.home-background {
  background-image: url('./images/bg-tones-15.png');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */
.nav-container {
  display: flex;
  padding: 1.5rem 4rem;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 2.5rem;
}
.nav-links {
  display: flex;
  color: var(--primary-color);
}

.nav-item {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  transition: all 0.3s ease;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  opacity: var(--hover-opacity);
}

/* HOME */
.home-header {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.home-projects-container {
  margin-bottom: 3rem;
  z-index: 1;
}

.home-row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.home-project {
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.home-project:first-child {
  margin-right: 4rem;
}

.home-image {
  border: 1px solid var(--secondary-color);
  width: 24rem;
}

.home-project-info {
  color: var(--primary-color);
  padding: 1rem 1rem;
  width: 400px;
}

.home-project-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.home-project-links {
  padding-top: 0.2rem;
}

.home-projects-link {
  border-bottom: 1px solid var(--primary-color);
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.home-projects-link:first-child {
  margin-right: 1rem;
}

.home-projects-link:hover {
  opacity: var(--hover-opacity);
}

@media only screen and (max-width: 1024px) {
  .home-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }

  .home-image {
    border: 1px solid var(--secondary-color);
    width: 30rem;
  }

  .home-project-info {
    color: var(--primary-color);
    padding: 1rem 1rem;
    width: 475px;
  }

  .home-project:first-child {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 670px) {
  .home-project-info {
    color: var(--primary-color);
    padding: 1rem 1rem;
    width: 400px;
  }

  .home-image {
    width: 24rem;
  }
}

@media only screen and (max-width: 500px) {
  .home-project-info {
    color: var(--primary-color);
    padding: 1rem 1rem;
    font-size: 0.9rem;
    width: 280px;
  }

  .home-image {
    width: 16rem;
  }
}
