* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4d4f7c;
  --secondary-color: #f0f0f0;
}

body {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */
.nav-container {
  background-color: var(--secondary-color);
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 2.7rem;
}
.nav-links {
  display: flex;
  color: var(--primary-color);
}

.nav-item {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  transition: all 0.3s ease;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  opacity: 0.9;
}

/* HOME */
.home-header {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.home-projects-container {
  margin-bottom: 3rem;
}

.home-row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.home-project {
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.home-project:first-child {
  margin-right: 4rem;
}

.home-image {
  border: 1px solid var(--secondary-color);

  width: 24rem;
}

.home-project-info {
  color: var(--primary-color);
  padding: 1rem 1rem;
  width: 400px;
}

.home-project-title {
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .home-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }

  .home-project-info {
    color: var(--primary-color);
    padding: 1rem 1rem;
    width: 400px;
  }

  .home-project:first-child {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-device-width: 500px) {
  .home-project-info {
    color: var(--primary-color);
    padding: 1rem 1rem;
    width: 250px;
  }

  .home-image {
    width: 18rem;
  }
}
